<%= form_for @admin_setting_city, :html => { :class => "form-horizontal city" } do |f| %>

    <% if @admin_setting_city.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@admin_setting_city.errors.count, "error") %> prohibited this city from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @admin_setting_city.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">中文</label>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@admin_setting_city[:name]) %>
  </div>
  <div class="control-group">
    <label class="control-label">拼音</label>
    <div class="controls">
      <%= f.text_field :en, :class => 'form-control' %>
    </div>  </div>
  <div class="control-group">
    <label class="control-label">所属省</label>
    <div class="controls">
      <%= f.collection_select(:admin_setting_province_id, Admin::Setting::Province.all, :id, :name,{}, {:class => 'form-control'}) %>
    </div>
  </div>

<br/>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            admin_setting_cities_path, :class => 'btn btn-default' %>

<% end %>
