<p id="notice"><%= notice %></p>

<h1>Listing Admin Setting Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pinyin</th>
      <th>Province</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_setting_cities.each do |admin_setting_city| %>
      <tr>
        <td><%= admin_setting_city.name %></td>
        <td><%= admin_setting_city.pinyin %></td>
        <th><%= Admin::Setting::Province.find(admin_setting_city).name %>
       
        </th>

        <td><%= link_to 'Show', admin_setting_city %></td>
        <td><%= link_to 'Edit', edit_admin_setting_city_path(admin_setting_city) %></td>
        <td><%= link_to 'Destroy', admin_setting_city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_admin_setting_city_path %>
