<div></div>
<table class="table case-table">
  <tbody>
    <% @case_users.each do |case_user| %>
      <tr style="height:214px;">
        <td width="130" style="padding-left:20px"><img src="<%= case_user.img%>" width="130" height="130"></td>
        <td width="190" class="case-user">
          <div style="width:120px;text-align: center;font-weight: bold;line-height: 1.8;">  
          <div style="line-height:3"><%= case_user.name %></div>
          <div><%= case_user.company %></div>
          <div><%= case_user.title %></div>
          </div>
          
        </td>
        <td style="text-align: left;color:#fff;"><%= sanitize case_user.content.gsub(/\n/, '<br/>') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @case_companies.each do |case_company| %>
<div class="case-other">
<img src="<%= case_company.img %>" alt="<%= case_company.name %>">
  <div class="font-c1 margin-top"><%= t('requirement')%></div>
  <div class="case-c-height"><%= case_company.requirement %></div>
  <div class="font-c1"><%= t('product')%></div>
  <div class="case-c-height"><%= case_company.usage %></div>
  <div class="font-c1"><%= t('result')%></div>
  <div><%= case_company.effect %></div>
</div>
<% end %>