<table>
  <tbody>
    <% @case_users.each do |case_user| %>
      <tr>
        <td><%= case_user.name %></td>
        <td><%= case_user.title %></td>
        <td><%= case_user.company %></td>
        <td><%= case_user.img %></td>
        <td><%= case_user.content %></td>
        <td><%= case_user.lang %></td>
        <td><%= case_user.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
    <tbody>
    <% @case_companies.each do |case_company| %>
      <tr>
        <td><%= case_company.name %></td>
        <td><%= case_company.img %></td>
        <td><%= case_company.requirement %></td>
        <td><%= case_company.usage %></td>
        <td><%= case_company.effect %></td>
        <td><%= case_company.lang %></td>
        <td><%= case_company.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>