<div class="page-header">
  <h1>职位申请</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:job) %></th>
      <th><%= User.human_attribute_name(:tel) %></th>
      <th><%= User.human_attribute_name(:country) %></th>
      <th><%= Application.human_attribute_name(:status) %></th>
      <th>简历</th>
      <th>时间</th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |app| %>
      <tr>
        <td><%= app.user.name %></td>
        <td><%= app.user.email %></td>
        <td><%= app.user.job %></td>
        <td><%= app.user.tel %></td>
        <td><%= app.user.country %></td>
        <td><%= t(app.status) %></td>
        <td><%= link_to Resume.find(app.resume_id).name, @path+Resume.find(app.resume_id).path, target: "_blank", data: { id: app.id }, class: 'js-on-click' %></td>
        <td><%= app.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= content_for :js do %>
  <script type="text/javascript">
    $('.js-on-click').on('click', function(e) {
      self = this;
      $.ajax({
        url: '/applications/' + $(self).data('id') + '/set_read',
        method: 'post',
        dataType: 'josn'
      });
    });
  </script>
<% end %>