<%- model_class = Job -%>
<div class="jd-action">
      <%= link_to t('apply'), user_logined_path+"?job_id="+@job.id.to_s, remote: true , :class=>'btn btn-primary jd-apply' %>
      <%= link_to t('save'), save_favorite_job_path(job_id: @job.id), :class=>'jd-btn', remote: true, method: :post %>
      <%= link_to t('share'), '#', :class=>'jd-btn' %>
</div>

<h1><%=@job.title %></h1>
<div class="row">
	<div class="col-sm-5">
		<span class="jd-val-desc">
			<%= model_class.human_attribute_name(:company_id) %>
		</span>
		<%= Company.find(@job.company_id).name %>
	</div>
	<div class="col-sm-4">
		<span class="jd-val-desc">
			<%= model_class.human_attribute_name(:salary) %>
		</span>
		<%= @job.salary %>
	</div>
	<div class="col-sm-3">
		<span class="jd-val-desc">
			<%= model_class.human_attribute_name(:admin_setting_city_id) %>
		</span>
		<%= Admin::Setting::City.find(@job.admin_setting_city_id).name %>
	</div>
</div>
<% if @job.description != "" %>
<div class="jd-val-desc">
	<%= model_class.human_attribute_name(:description) %>
</div>
<%= sanitize @job.description.gsub(/\n/, '<br/>') %>
<% end %>

<% if @job.requirement != "" %>
<div class="jd-val-desc">
	<%= model_class.human_attribute_name(:requirement) %>
</div>
<%= sanitize @job.requirement.gsub(/\n/, '<br/>') %>
<% end %>

<% if @job.company.description != "" %>
<div class="jd-val-desc">
	<%= t('companyDetail') %>
</div>
<%= sanitize @job.company.description.gsub(/\n/, '<br/>') %>
<% end %>

<% if @job.comment != "" %>
<div class="jd-val-desc">
	<i class="fa fa-diamond"></i><%= model_class.human_attribute_name(:comment) %>
</div>
<%= sanitize @job.comment.gsub(/\n/, '<br/>') %>
<% end %>
<% if jobposter_signed_in? %>
<div class="pull-right"><%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %></div>
<% end %>
<br/>
<br/>
<%= link_to t('apply'), user_logined_path+"?job_id="+@job.id.to_s, remote: true , class: 'btn btn-primary btn-lg big-btn' %>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md">
    <div class="modal-content job-modal-content">

    </div>
  </div>
</div>