<%- model_class = Job -%>
<% jobs.each do |job| %>

<div class="job-item">
  <div class="jtitle">
    <%= link_to job.title, job_path(id: job.id, page: page, city_name: params[:city_name],industry_id: params[:industry_id], keywords: params[:keywords])%>
  </div>

  <div>
    <span class="value-desc">
      <%= model_class.human_attribute_name(:company_id) %>
    </span><%= job.company.name %>
  </div>

  <div>
    <span class="value-desc">
      <%= model_class.human_attribute_name(:salary) %>
    </span><%= job.salary %>
  </div>
  <div>
    <span class="value-desc">
      <%= model_class.human_attribute_name(:admin_setting_city_id) %>
    </span>
    <% if(I18n.locale == :en) %>
<%= job.cities.map{ |c| c.en }.join(', ') %>
<% else %>
<%= job.cities.map{ |c| c.name }.join(', ') %>
<% end %>
  </div>
</div>

<% end %>
<!--
<nav>
  <ul class="pagination">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
-->