<%- model_class = Job -%>
<% @jobs.each do |job| %>

<div class="job-item">
  <div class="jtitle"><%= link_to job.title, job_path(job) %></div>

    <div>
        <span class="value-desc">
            <%= model_class.human_attribute_name(:company_id) %>
        </span><%= Company.find(job.company_id).name %>
    </div>

    <div>
        <span class="value-desc">
            <%= model_class.human_attribute_name(:salary) %>
        </span><%= job.salary %>
    </div>
    <div>
        <span class="value-desc">
            <%= model_class.human_attribute_name(:admin_setting_city_id) %>
        </span><%= Admin::Setting::City.find(job.admin_setting_city_id).name %>
    </div>

</div>

<% end %>