<% @jobs.each do |job| %>

<div class="job-item">
  <div class="jtitle"><%= link_to job.title, job_path(job) %></div>

    <div>
    <%= content_tag(:span, t('company'), class:'value-desc')%> <%= Company.find(job).name %>
    </div>
  <div>
    <%= content_tag(:span, t('salary'), class:'value-desc')%> <%= job.salary %>
    </div>
    <div>
    <%= content_tag(:span, t('city'), class:'value-desc')%> <%= Admin::Setting::City.find(job).name %>
    </div>

</div>

<% end %>