<%- model_class = Job -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% @jobs.each do |job| %>

<div class="row job-item">
  <div class="col-md-7">
    <div class="jtitle"><%= link_to job.title + " - "+Admin::Setting::City.find(job.city_id).name, job_path(job) %></div>
    <%= job.salary %> 

  </div>
  <div class="col-md-5">
  <div class="jcomplany"><%= job.company.name %></div>
    <%= DateTime.parse(job.updated_at.to_s).strftime('%Y-%m-%d').to_s%>
  </div>
</div>

<% end %>




 