<%- model_class = Job -%>
<div class="jd">
<div class="row">
<div class="col-sm-4">
<div class="jd-list" id="jdList">   

<%= render partial: "jobs/list", locals: { jobs: @jobs, page: @page } %>

</div>
<div id="paginator">
  <%= paginate @jobs, :remote => true %>
</div>
</div>
<div class="jd-content col-sm-8">
<% if @job %>
  <%= render ("jobs/job") %>
<% else %>
<h4><%= t('nojob')%></h4>
<% end %>
</div>
</div><!--end content-->
<div class="clearfix"></div>
</div><!--end jd-->

<% content_for :top do %>
<div class="job-banner banner"></div>
<div class="container">
  <%= render("shared/search") %>
</div>
<!--<div class="line"></div>-->
<% end %>

<% content_for :title do %>
<% if @job %>
<%= @job.title %> - HelloCareer
<% end %>
<% end %>
<%= render("shared/qiniu_upload") %>