<div class="jd">
<div class="content">

<div class="jd-list">		
<%= render ("jobs/list") %>
</div>

<div class="jd-content">
	<div class="panel panel-default">
  		<div class="panel-heading">
  		<%= link_to t('apply'), '#', :class=>'btn btn-primary jd-apply' %>
  		<%= link_to t('save'), '#', :class=>'jd-btn' %>
  		<%= link_to t('share'), '#', :class=>'jd-btn' %>

  		</div>
  		<div class="panel-body">
    
    <h1><%=@job.title %></h1>
    <div><i class="fa fa-usd"></i>
    <%= content_tag(:span, t('salary'), class:'value-desc')%> <%= @job.salary %>
    </div>
  	<div><i class="fa fa-map-marker"></i>
    <%= content_tag(:span, t('city'), class:'value-desc')%> <%= Admin::Setting::City.find(@job).name %>
  	</div>

<%= content_tag(:div, t('jobDesc'), class:'jd-val-desc')%>
<%= sanitize @job.description.gsub(/\n/, '<br/>') %>

<%= content_tag(:div, t('jobReq'), class:'jd-val-desc')%>
<%= sanitize @job.requirement.gsub(/\n/, '<br/>') %>

<%= content_tag(:div, t('jobComment'), class:'jd-val-desc')%>
<%= sanitize @job.comment.gsub(/\n/, '<br/>') %>

<% if jobposter_signed_in? %>
<div class="pull-right"><%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %></div>
<% end %>
<br/>
<br/>

<%= link_to t('apply'), new_user_registration_path, :class=>'btn btn-primary btn-lg big-btn' %>

  		</div>
	</div>
	</div>
</div><!--end content-->
<div class="clearfix"></div>
</div><!--end jd-->




<% content_for :top do %>
<div class="container">
  <%= image_tag("banner.jpg", width:'100%') %>
  <%= render("shared/search") %>
</div>
<div class="line"></div>
<% end %>

