<%= form_for @case_company, :html => { :class => "form-horizontal case_company" } do |f| %>

    <% if @case_company.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@case_company.errors.count, "error") %> prohibited this case_company from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @case_company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@case_company[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :img, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :img, :class => 'form-control' %>
    </div>
    <%= error_span(@case_company[:img]) %>
  </div>
  <div class="control-group">
    <%= f.label :requirement, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :requirement, :class => 'form-control' %>
    </div>
    <%= error_span(@case_company[:requirement]) %>
  </div>
  <div class="control-group">
    <%= f.label :usage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :usage, :class => 'form-control' %>
    </div>
    <%= error_span(@case_company[:usage]) %>
  </div>
  <div class="control-group">
    <%= f.label :effect, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :effect, :class => 'form-control' %>
    </div>
    <%= error_span(@case_company[:effect]) %>
  </div>
  <div class="control-group">
    <%= f.label :lang, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lang, :class => 'form-control' %>
    </div>
    <%= error_span(@case_company[:lang]) %>
  </div>
  <div class="control-group">
     <%= f.label :active, :class => 'control-label'  %>
    <div class="controls">
      <%= f.check_box :active %>
    </div>
    <%= error_span(@case_company[:active]) %>
  </div>

<br/>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            case_companies_path, :class => 'btn btn-default' %>

<% end %>
