<%- model_class = CaseCompany -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @case_company.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:img) %>:</strong></dt>
  <dd><%= @case_company.img %></dd>
  <dt><strong><%= model_class.human_attribute_name(:requirement) %>:</strong></dt>
  <dd><%= @case_company.requirement %></dd>
  <dt><strong><%= model_class.human_attribute_name(:usage) %>:</strong></dt>
  <dd><%= @case_company.usage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:effect) %>:</strong></dt>
  <dd><%= @case_company.effect %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lang) %>:</strong></dt>
  <dd><%= @case_company.lang %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @case_company.active %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              case_companies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_case_company_path(@case_company), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              case_company_path(@case_company),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
