 <footer class='footer'>
     <div class="container">

     <%= render("shared/nav") %>

<table class="table">
  <tr>
    <td><%= t('tel')%> <%= t('telVal')%></td>
    <td><%= t('email')%> <%= t('emailVal')%></td>
    <td><%= t('addr')%> <%= t('addrVal')%></td>
    <td><%= t('weixin')%> Hellocareer</td>
  </tr>
</table>  

      </div>
      </footer>
<%= javascript_include_tag "application" %>
<script type="text/javascript">

  $(document).ready(function(){

  $('#langZh').click(function(){
    setCookie('lang', 'zh', 365);
    console.log('zh');
  });
  $('#langEn').click(function(){
    setCookie('lang', 'en', 365);
    console.log('en');
  });
    
});
</script>