 <footer class='footer'>
     <div class="container">


<ul class="nav navbar-nav">
            <li><%= link_to t('navHome'), home_path  %></li>
            <li><%= link_to t('navAlljob'), lastjob_path  %></li>
            <li><%= link_to t('navService'), service_path %></li>
            <li><%= link_to t('navCase'), case_path %></li>
            <li><%= link_to t('news'), 'http://blog.hellocareer.cn/' %></li>
            <li><%= link_to t('navAbout'), about_path %></li>
          </ul>

<table class="table">
  <tr>
    <td><%= t('tel')%> <%= t('telVal')%></td>
    <td><%= t('email')%> <%= t('emailVal')%></td>
    <td><%= t('addr')%> <%= t('addrVal')%></td>
    <td><%= t('weixin')%> Hellocareer</td>
  </tr>
</table>  

      </div>
      </footer>
<%= javascript_include_tag "bottom/application" %>
<script type="text/javascript">

  $(document).ready(function(){

  $('#langZh').click(function(){
    setCookie('lang', 'zh', 365);
    console.log('zh');
  });
  $('#langEn').click(function(){
    setCookie('lang', 'en', 365);
    console.log('en');
  });
    
});
</script>