    <div class='top-nav'><div class="container">
      <ul class="list-inline">
        <li><%= link_to t('login'), new_user_session_path %></li>
        <li><%= link_to t('register'), new_user_registration_path %></li>
        <li><%= link_to 'English', "/?locale=en",id:'langEn' %>
        <%= link_to '中文', "/?locale=zh", id:'langZh' %></li>
      </ul></div>
    </div>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">S0617</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
             <li><%= link_to t('navHome'), "/"  %></li>
            <li><%= link_to t('navAlljob'), jobs_path  %></li>
            <li><%= link_to t('navService'), service_path %></li>
            <li><%= link_to t('navCase'), case_path %></li>
            <li><%= link_to t('navAbout'), about_path %></li>
          </ul>
        </div>
      </div>
    </div>