<ul class="nav navbar-nav">
            <li><%= link_to t('navHome'), "/"  %></li>
            <li><%= link_to t('navAlljob'), jobs_path  %></li>
            <li><%= link_to t('navService'), service_path %></li>
            <li><%= link_to t('navCase'), case_path %></li>
            <li><%= link_to t('navAbout'), about_path %></li>
          </ul>