<ul class="nav navbar-nav">
            <li><%= link_to t('navHome'), home_path  %></li>
            <li><%= link_to t('navAlljob'), lastjob_path  %></li>
            <li><%= link_to t('navService'), service_path %></li>
            <li><%= link_to t('navCase'), case_path %></li>
            <li><%= link_to t('news'), 'http://hellocareer-blog.herokuapp.com/' %></li>
            <li><%= link_to t('navAbout'), about_path %></li>
          </ul>