<div class='main-search center'>

  <form role="form" class="form-inline center" action="/jobs/last" method="get"> 
    <div class="row">

      <div class="col-sm-3 col-sm-offset-1" style="margin-left: 4%;">
        <div class="form-group has-feedback has-feedback-left">
          <label class="control-label sr-only">Keywords</label>
          <div class="inline-feedback">
            <input type="text" name="keywords" id="keywords" class="form-control input-lg" placeholder="Keywords" value="<%= params[:keywords] %>" />
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <select id="industry_id" class="form-control pull-left input-lg" name="industry_id">
<% if(I18n.locale == :en) %>
<option value="">Industry</option>
          <%= options_for_select( Admin::Setting::Industry.where.not(parent_id: nil).select(:id, :en).collect {|p| [ p.en, p.id ] }, params[:industry_id])%>
<% else %>
          <option value="">行业</option>
          <%= options_for_select( Admin::Setting::Industry.where.not(parent_id: nil).select(:id, :name).collect {|p| [ p.name, p.id ] }, params[:industry_id])%>
<% end %>

        </select>
      </div>



      <div class="col-sm-3">
        <select id="city_name" class="form-control pull-left input-lg" name="city_name">
          
<% if(I18n.locale == :en) %>
<option value="">Location</option>
          <%= options_for_select( Admin::Setting::City.all.select(:id, :en).collect {|p| [ p.en, p.id ] }, params[:city_name])%>
<% else %>
         <option value="">地区</option>
          <%= options_for_select( Admin::Setting::City.all.select(:id, :name).collect {|p| [ p.name, p.id ] }, params[:city_name])%>
<% end %>
        </select>
      </div>


      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
      </div>
    </div>
  </form>

</div>

<script type="text/javascript" >

function insertParam(key, value)
{
    key = encodeURI(key); value = encodeURI(value);

    var kvp = document.location.search.substr(1).split('&');
debugger
    var hasKeyword = false,
        hasParam = false;
  //  var i=kvp.length;
    for(var i=0; i<kvp.length; i++)
    {
        var x = kvp[i].split('=');

        if (x[0]==key)
        {
            hasParam = true;
            x[1] = value;
            kvp[i] = x.join('=');
           // break;
        }
        if(x[0]=='keywords'){
          hasKeyword = true;
          x[1] = $('#keywords').val();
          kvp[i] = x.join('=');
        }
    }
debugger
  //  if(i<0) {kvp[kvp.length] = [key,value].join('=');}
    if(!hasKeyword) {
      {kvp[kvp.length] = ['keywords',$('#keywords').val()].join('=');}
    }
    if(!hasParam) {
      {kvp[kvp.length] = [key,value].join('=');}
    }
debugger
    //this will reload the page, it's likely better to store this until finished
    location = document.origin + '<%= lastjob_path %>?' + kvp.join('&'); 

  //  document.location.search = kvp.join('&'); 
};

$('#city_name').on('change', function(e) {
  if ($(this).val() == '全部') {
    insertParam('city_name', '');
  } else {
    insertParam('city_name', $(this).val());
  }
});

$('#industry_id').on('change', function(e) {
  if ($(this).val() == '全部') {
    insertParam('industry_id', '');
  } else {
    insertParam('industry_id', $(this).val());
  }
});
</script>