<div style="text-align: center;"><%= image_tag("big.jpg")%></div>
<div class="container">
<div class='hp-block-title-jobs'></div>
<div class="hp-job-border">
<% @jobs.each do |job| %>
<div class="row hp-joblist">
	<div class="col-md-6"><i class="fa fa-search"></i><%= content_tag(:span, t('jobTitle'), class:'value-desc')%> <%= link_to job.title, job %></div>
	<div class="col-md-3"><i class="fa fa-usd"></i><%= content_tag(:span, t('salary'), class:'value-desc')%> <%= job.salary %></div>
	<div class="col-md-3"><i class="fa fa-map-marker"></i><%= content_tag(:span, t('city'), class:'value-desc')%> <%= Admin::Setting::City.find(job).name %></div>
</div>
<% end %>
</div>
<%= content_tag(:div, t('hpMoreJob'), class:'hp-more-job')%>

<div class='hp-block-title-events'></div>
<%= image_tag("hpAd.jpg")%>	

<div class="hp-ad2">
	<%= image_tag("hpAd2.jpg")%>
</div>

<%= link_to t('register'), new_user_registration_path, :class=>'btn btn-primary btn-lg hp-big-btn' %>

</div>	
