<div class="hp-bg">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active flash1">
    </div>
    <div class="item flash2">
    </div>
    <div class="item flash3">
    </div>
    <div class="item flash4">
    </div>
  </div>
</div>


<div class="container">
	<div class='white-bg'>
		<%= content_tag(:h1, t('hpTitle') )%>
		<%= content_tag(:p, t('registerNow'), class:'registerNow' )%>
		<%= content_tag(:p, t('becomeVIP'), class:'becomeVIP' )%>
		<%= link_to t('register'), new_user_registration_path, :class=>'btn btn-primary btn-lg big-btn center' %>
	</div>
</div>
</div>

<div class="container">
<div class='hp-block-title-jobs'></div>
<div class="hp-job-border">
<% @jobs.each do |job| %>
<div class="row hp-joblist">
	<div class="col-sm-5">
		<span class="value-desc">
			<%= Job.human_attribute_name(:title) %>
		</span>
		<%= link_to job.title, job %></div>
	<div class="col-sm-4">
		<span class="value-desc">
			<%= Job.human_attribute_name(:salary) %>
		</span>
		<%= job.salary %>
	</div>
	<div class="col-sm-3">
		<span class="value-desc">
			<%= Job.human_attribute_name(:admin_setting_city_id) %>
		</span><%= job.cities.map{ |city| city.name }.join(', ') if job.cities.present? %>
	</div>
</div>
<% end %>
<div class="row hp-more-job">
	<div class="col-sm-3 col-sm-offset-9"><%= link_to t('hpMoreJob'), lastjob_path, :class=>'' %></div>
</div>

</div>
<div class='hp-block-title-events'></div>

<%- if @ad.present? && @ad.img.present? %>
  <%= link_to image_tag(@ad.img, :border => 0), @ad.link %>
<% end %>
<div class='hp-block-title-vip'></div>
<div class="hp-ad2">
	<%= image_tag("vip#{I18n.locale}.jpg", width:'100%') %>
</div>
<div style="margin-top:-25px;position:relative; z-index:10;">
<%= link_to t('register'), new_user_registration_path, :class=>'btn btn-primary btn-lg big-btn center' %>
</div>

</div>	

<% content_for :title do %>
HelloCareer - 国际人才职业服务平台，专注海外人才就业创业
<% end %>
