<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @job.requirement %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @job.comment %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @job.endDate %>
</p>

<p>
  <strong>Admin setting city:</strong>
  <%= @job.admin_setting_City %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Jobposter:</strong>
  <%= @job.jobposter %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
