<h1>用户留言</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>姓名</th>
      <th>邮箱</th>
      <th>标题</th>
      <th>时间</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= link_to contact.title, contact %></td>
        <td><%= contact.created_at %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>