<%- model_class = Company -%>
<div class="page-header">
  <h1><%= @company.name %></h1>
</div>
<div class="row">
  <div class="col-md-3"><%= Jobposter.find(@company.jobposter_id).email %></div>
  <div class="col-md-3"><%= @company.created_at %></div>
</div>

<div style="margin:30px 0">
  <%= sanitize @company.description.gsub(/\n/, '<br/>') %>
</div>



<%= link_to t('.back', :default => t("helpers.links.back")),
              companies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_company_path(@company), :class => 'btn btn-default' %>
