<p id="notice"><%= notice %></p>

<h1>Listing Admin Setting Provinces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pinyin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_setting_provinces.each do |admin_setting_province| %>
      <tr>
        <td><%= admin_setting_province.name %></td>
        <td><%= admin_setting_province.pinyin %></td>
        <td><%= link_to 'Show', admin_setting_province %></td>
        <td><%= link_to 'Edit', edit_admin_setting_province_path(admin_setting_province) %></td>
        <td><%= link_to 'Destroy', admin_setting_province, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Province', new_admin_setting_province_path %>
