<%- model_class = Admin::Setting::Province -%>
<div class="page-header">
  <h1>省份</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>中文</th>
      <th>拼音</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_setting_provinces.each do |province| %>
      <tr>
        <td><%= province.id %></td>
        <td><%= province.name %></td>
        <td><%= province.en %></td>     
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_setting_province_path(province), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_setting_province_path,
            :class => 'btn btn-primary' %>
