<%= render 'link_header' %>

<div class="my-info-content-page-header">
  <%= t('my_applications')  %>
</div>

<div class="my-info-content">
  <% current_user.applications.each do |application| %>
    <div>
      <span class="col-sm-2"><%= application.job.title %></span>
      <span class="col-sm-3"><%= t('application created_at') %>: <%= application.created_at.strftime("%Y - %b - %d") %></span>
      <span class="col-sm-5"><%= t('application company') %>: <%= application.job.company.name %></span>
      <span class="col-sm-2"><%= t('application status') %>: <%= t('have read')%></span>
    </div>
  <% end %>
</div>