<%= render 'link_header' %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('my_applications')  %></h3>
  </div>
  <div class="panel-body">
  <table class="table table-striped">
  	<tr>
  		<th>职位</th>
  		<th><%= t('application created_at') %></th>
  		<th><%= t('application company') %></th>
  		<th><%= t('application status') %></th>
  	</tr>
  	<% current_user.applications.each do |application| %>
  	<tr>
  		<td><%=  application.job.title %></td>
  		<td><%= application.created_at.strftime("%Y - %b - %d") %></td>
  		<td><%= application.job.company.name %></td>
  		<td><%= t('have read')%></td>
  	</tr>
  	<% end %>
  </table>
  </div>
</div>
