<%= render 'link_header' %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('my_applications')  %></h3>
  </div>
  <div class="panel-body">
  <table class="table table-striped">
  	<tr>
  		<th><%= t('job')%></th>
  		<th><%= t('application created_at') %></th>
  		<th><%= t('application company') %></th>
  		<th><%= t('application status') %></th>
  	</tr>
  	<% @applications.each do |application| %>
  	<tr>
  		<td><%= link_to application.job.title, job_path(application.job_id) %></td>
  		<td><%= application.created_at.strftime("%Y - %b - %d") %></td>
  		<td><%= application.job.company.name %></td>
  		<td><%= t(application.status)%></td>
  	</tr>
  	<% end %>
  </table>
  </div>
</div>
