<%= render 'link_header' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to raw("<i class='fa-pencil fa'></i>"), edit_user_registration_path, class: 'pull-right' %> <%= t('my_info')  %></h3>
  </div>
  <div class="panel-body">
  <div><%= current_user.name %></div>
    <div><%= current_user.tel %></div>
    <div><%= current_user.email %></div>
    <div><%= current_user.job %></div>
  </div>
</div>