<%= render 'link_header' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('my_resumes')  %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <% current_user.resumes.each do |r| %>
        <tr>
          <td><%= t('preview') %>: <%= link_to r.name, "#{Rails.application.config.resumePath}#{r.path}", target: "_blank" %></td>
          <td><%= r.created_at.strftime("%Y %b %d")  %></td>
          <td>
            <% if r.default %>
              <%= t('default_resume')  %>
            <% else %>
              <%= link_to t('set_default'), resume_set_default_path(id: r.id), method: :post, remote: true %>
            <% end %>
          </td>
          <td>
            <%= link_to resume_delete_path(id: r.id), remote: true, method: :delete, data: { confirm: 'Are you sure delete it ?' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="form-group">
      <div class="controls col-sm-5">
        <button id="pickfiles" type="button" class="btn btn-default"><%= t("uploadResume")%></button>
        <div id="resumeName"></div>
        <%= text_field_tag :resume_id, nil, :class=>'form-control hidden', id:"resumeId" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "/js/qiniu.min" %>
<%= javascript_include_tag "/js/plupload.full.min" %>
<script type="text/javascript">
var uploader = Qiniu.uploader({
    runtimes: 'html5,flash,html4',
    browse_button: 'pickfiles',
    uptoken_url: '../../uploader/img',
    domain: 'http://7xk15s.com1.z0.glb.clouddn.com/',
 //   container: 'container',
    drop_element: 'container',
    max_file_size: '100mb',
    flash_swf_url: 'js/plupload/Moxie.swf',
    dragdrop: false,
    chunk_size: '4mb',
    auto_start: true, //选择文件后自动上传，若关闭需要自己绑定事件触发上传,
    init: {
        'FilesAdded': function(up, files) {
            plupload.each(files, function(file) {
                // 文件添加进队列后,处理相关的事情
            });
        },
        'BeforeUpload': function(up, file) {
            // 每个文件上传前,处理相关的事情
        },
        'UploadProgress': function(up, file) {
            // 每个文件上传时,处理相关的事情
        },
        'FileUploaded': function(up, file, info) {
            var responce = JSON.parse(info);
            //get file name
            var index = responce.key.lastIndexOf("_");
            var name = responce.key.substr(0, index);

            $.post("../resume/create", {
                    resume: {
                        path: responce.key,
                        name: name
                    }
                })
                .done(function(data) {
                    $("#resumeId").val(data.id);
                    $("#resumeName").html(name);
                    window.location.reload();
                });


        },
        'Error': function(up, err, errTip) {
            //上传出错时,处理相关的事情
        },
        'UploadComplete': function() {
            //队列文件处理完毕后,处理相关的事情
        },
        'Key': function(up, file) {
            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
            // 该配置必须要在 unique_names: false , save_key: false 时才生效
            var key = file.name + "_" + new Date().getTime();
            // do something with key here
            return key
        }
    }
});

</script>