<!DOCTYPE html>
<html lang="zh-CN">
<%= render("shared/assets") %>

  <body class="admin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><%= link_to "职位", jobs_path %></li>
            <li><%= link_to "公司", companies_path %></li>
            <li><%= link_to "求职用户", users_path %></li>
            <li><%= link_to "行业", admin_setting_industries_path %></li>
            <li><%= link_to "学历", admin_setting_educations_path %></li>
            <li><%= link_to "经验", admin_setting_experiences_path %></li>
            <li><%= link_to "省份", admin_setting_provinces_path %></li>
            <li><%= link_to "城市", admin_setting_cities_path %></li>
            <li><%= link_to "主要案例", case_users_path %></li>
            <li><%= link_to "其他案例", case_companies_path %></li>
            <li><%= link_to "首页广告位", ads_path %></li>
            <% if current_jobposter.root_admin? %>
              <li><%= link_to "发布者", admin_setting_jobposters_path %></li>
            <% end %>
            <li><%= link_to "用户留言", contacts_path %></li>
          </ul>
        </div>
        <div class="col-sm-10 main" style="float:right">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>

<%= javascript_include_tag "admin/admin" %>
<%= javascript_include_tag "bottom/bottom" %>
  </body>
</html>

<%= yield :js %>