<!DOCTYPE html>
<html lang="en">
  <%= render("shared/assets") %>
  <body>
  <%= render("shared/header") %>
  <%= yield :top %>
  
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  <%= render("shared/footer") %>   
  </body>
</html>
