<!DOCTYPE html>
<html lang="en">
  <%= render("shared/assets") %>
  <body>
          <%= render("shared/header") %>
          <%= bootstrap_flash %>
          <%= yield %>
          <%= render("shared/footer") %>    
  </body>
</html>
