  <div class="form-group">

    <label class="col-sm-4 control-label">
      <span>*</span>
      <%= f.label :email%>
    </label>
    
    <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, :class=>'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">
      <span>*</span>
      <%= f.label :password%>
    </label>
    <div class="col-sm-5">
    <%= f.password_field :password, autocomplete: "off", :class=>'form-control' %>
    <% if @minimum_password_length %>
    <em>(<%= t('passwordLen',len:@minimum_password_length) %>)</em>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">
      <span>*</span>
      <%= f.label :name%>
    </label>
    <div class="col-sm-5">
      <%= f.text_field :name, :class=>'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">
      <span>*</span>
      <%= f.label :tel%>
    </label>
    <div class="col-sm-5">
      <%= f.text_field :tel, :class=>'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">
      <span>*</span>
      <%= f.label :job%>
    </label>
    <div class="col-sm-5">
      <%= f.text_field :job, :class=>'form-control' %>
    </div>
  </div>
<div class="more-regist-info"><i class="fa-bullhorn fa"></i> <%= t("moreRegistInfo")%></div>
  <div class="form-group">
    <%= f.label :country, :class=>'col-sm-4 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :country, :class=>'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :admin_setting_education_id, :class => 'col-sm-4 control-label' %>
    <div class="col-sm-5">
      <%= f.collection_select(:admin_setting_education_id, Admin::Setting::Education.all, :id, :name,{}, {:class => 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :admin_setting_experience_id, :class => 'col-sm-4 control-label' %>
    <div class="col-sm-5">
      <%= f.collection_select(:admin_setting_experience_id, Admin::Setting::Experience.all, :id, :name,{}, {:class => 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :admin_setting_industry_id, :class => 'col-sm-4 control-label' %>
    <div class="col-sm-5">
      <%= f.collection_select(:admin_setting_industry_id, Admin::Setting::Industry.all, :id, :name,{}, {:class => 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label"><%= t("resume")%></label>
    <div class="controls col-sm-5">
      <button id="pickfiles" type="button" class="btn btn-default"><%= t("uploadResume")%></button>
      <div id="resumeName"></div>
      <%= f.text_field :resume_id, :class=>'form-control hidden', id:"resumeId" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :summmary, :class => 'col-sm-4 control-label' %>
    <div class="controls col-sm-5">
      <%= f.text_area :summmary, :class => 'form-control',  :rows => "5" %>
    </div>
  </div>
<%= render("shared/qiniu_upload") %>